<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <h1 class="text-center">About the Student Database</h1>
    <p>This application was developed for the Java Bootcamp October 2017. It has the following
        features:
    <ol>
        <li>Many to many relationships between Students and Courses and Insturcotrs </li>
        <li>A form to add students to the database</li>
        <li>A form to add instrucotrs to the database </li>
        <li>A form to add instructors to courses</li>
        <li>Thymeleaf fragments, including: </li>
        <ul>
            <li>A condition to display links only when students have been enterd into the database AND there are still some students to be added to the course</li>
            <li>A navigation bar that indicates where in the application a user is</li>
        </ul>

    </ol>
    </p>
</div>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>